.chat_item{
    padding-top: 5px;
    height: 55px;
    display: grid;
    grid-template-columns: 50px 1fr;
    cursor: pointer;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
}

.selected_chat{
    transition: background .3s ease;
    @media(width > 600px){
        background-color: #0c518d;
    }
}

.main_inf{
    overflow: hidden;
    padding-left: 5px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: 17px 33px;
    color:white;
}

.title_block{
    display: grid;
    grid-template-columns: 1fr auto;
}

.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
}

.time{
    padding-left: 8px;
    font-size: 13px;
    color:#a6a6a6;
    user-select: none;
}

.time::first-letter {
    text-transform: uppercase;
}

.message_block{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.message{
    opacity: 0.7;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.count_message{
    padding: 0 5px 0 5px;
    height: 0.8cm;
    border-radius: 0.4cm;
    min-width: calc(0.8cm - 10px);
    background-color: #0098EA;
    display: grid;
    justify-items: center;
    align-items: center;
    user-select: none;
}