.chat_item{
    padding-top: 5px;
    height: 55px;
    display: grid;
    grid-template-columns: 50px 1fr;
    cursor: pointer;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
}

.chat_item:active {
    @media(width < 600px){
        background-color: #0c518d;
        border-radius: 10px;
    }
}

.selected_chat{
    @media(width > 600px){
        background-color: #0c518d;
        border-radius: 10px;
        transition: background .3s ease;
    }
}

.chat_item:hover:not(.selected_chat){
    @media(width > 600px){
        border-radius: 10px;
        background-color: #08365e;
    }
}

.main_inf{
    overflow: hidden;
    padding-left: 5px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: 17px 33px;
    color:white;
}

.title_block{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 4px;
}

.icon_star{
    color:gold;
    animation: star_animation 3s ease infinite;
    margin-bottom: auto;
    margin-top: auto;
}

.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
}

.time{
    padding-left: 8px;
    font-size: 13px;
    color:#a6a6a6;
    -webkit-user-select: none;
    user-select: none;
}

.time::first-letter {
    text-transform: uppercase;
}

.message_block{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.message{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.message span {
    opacity: 0.7;
}

.message strong{
    color: #0098ea;
}

.count_message{
    padding: 0 5px 0 5px;
    height: 0.8cm;
    border-radius: 0.4cm;
    min-width: calc(0.8cm - 10px);
    background-color: #0098EA;
    display: grid;
    justify-items: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.new_message{
    animation: new_message .2s linear forwards;
}

.hide_chat{
    animation: new_message .2s linear forwards;
    animation-direction: reverse;
}

@keyframes new_message{
    from {
        opacity: 0.4;
        height: 0;
        padding: 0;
        display: none;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        height: 55px;
        transform: scale(1);
    }
}

@keyframes star_animation{
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(0.8) rotate(30deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}