.chat_item{
    padding-top: 5px;
    height: 55px;
    display: grid;
    grid-template-columns: 50px 1fr;
    cursor: pointer;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;

    .border{
        content: "";
        background-color: rgba(255, 255, 255, 0.06);
        width: calc(100% - 50px - 16px - 16px);
        height: 1px;

        position: absolute;
        top: 0;
        left: 66px;
    }
}

.chat_item:first-child .border {
    display: none;
}

.chat_item:active {
    @media(width < 600px){
        background-color: #0c518d;
        border-radius: 10px;
    }
}

.selected_chat{
    @media(width > 600px){
        background-color: #0c518d;
        border-radius: 10px;
        transition: background .3s ease;
    }
}

.chat_item:hover:not(.selected_chat){
    @media(width > 600px){
        border-radius: 10px;
        background-color: #08365e;
    }
}

.main_inf{
    overflow: hidden;
    padding-left: 5px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: 17px 33px;
    color:white;
    align-items: center;
}

.title_block{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: 15px;
}

.icon_star{
    color:gold;
    animation: star_animation 3s ease infinite;
    margin-bottom: auto;
    margin-top: auto;
}

.title{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}

.time{
    padding-left: 8px;
    font-size: 13px;
    color:#a6a6a6;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;

    .pin{
        width: auto;
        font-size: 12px;
        padding-right: 4px;
    }

    .time_text{
        display: inline-block;
    }
}

.time::first-letter {
    text-transform: uppercase;
}

.message_block{
    display: grid;
    align-items: end;
    grid-template-columns: 1fr auto;
    grid-auto-rows: 27px;
}

.message{
    display: block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.message span {
    opacity: 0.7;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.message strong{
    color: #0098ea;
}

.count_message{
    padding: 2px 7px;
    /* height: 0.8cm;
    border-radius: 0.4cm; */
    /* min-width: calc(0.8cm - 10px); */
    background-color: #0098EA;
    display: grid;
    justify-items: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    margin: 0 0 0 3px;
    border-radius: 50px;
}

.new_message{
    animation: new_message .2s linear forwards;
}

.hide_chat{
    animation: new_message .2s linear forwards;
    animation-direction: reverse;
}

.avatar_background{
    width: 50px;
    height: 50px;
}

@keyframes new_message{
    from {
        opacity: 0.4;
        height: 0;
        padding: 0;
        display: none;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        height: 55px;
        transform: scale(1);
    }
}

@keyframes star_animation{
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(0.8) rotate(30deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}