.bg{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
}

.btn{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}



/*
.minimize,
.fullscreen {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.minimize_block {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.minimize_btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.control_icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  box-sizing: border-box;
}
*/