.bg{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    background-color: transparent;
}

.action_btn{
    max-width: 30px;
    width: 100%;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    cursor: pointer;
    margin-bottom: 12px;
}

.btn{
    background-color: transparent;
    border: none;
    outline: none;
}

/*
.call_controll {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 16px;
}

.call_controll[data-minimize='active'] {
    display: none;
}

.call_controll[data-fullScreen='active'] {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.camera_toggle,
.microphone_toggle,
.decline {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.camera_toggle:hover,
.microphone_toggle:hover,
.decline:hover{
    background: rgba(255, 255, 255, 0.5);
}

.call_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .fullscreen{
        display: none;
    }

    .minimize{
        margin-left: 10px;
    }

    .control_icons{
        padding: 10px;
    }

    .background[data-minimize='active'] {
        max-width: 100%;
        width: 100%;
        height: 40px;
        top: 55px;
        padding: 0;
    }

    .minimize_block{
        justify-content: space-around;
    }
}
*/