.background {
    max-width: calc(300px - 48px);
    width: 100%;
    height: 480px;
    border-radius: 8px;
    background: #79b6ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 100px;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    box-shadow: 0 0 3px 1px rgb(0, 0, 0, 0.5);
    transition: all .3s ease;
    overflow: hidden;

    @media screen and (max-width: 600px) {
        max-width: 100%;
        max-height: 100%;
        width: calc(100% - 32px);
        height: calc(100% - 16px - calc(16px + var(--safe-area-inset-bottom)));
        top: 0;
        left: 0;
        border-radius: 0;
        padding: 16px 16px calc(16px + var(--safe-area-inset-bottom)) 16px;
        transform: translateY(0%);
    }
}

.background[data-fullscreen='active'] {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
    left: 0;
    top: 0;
    transform: translateY(0%);
}

.background[data-minimize='active'] {
    max-width: 300px;
    top: 3px;
    padding: 5px;
    transform: translateY(0%);
}

.avatar {
    width: 150px;
    height: 150px;
}
.avatar[data-minimize='active'] {
    display: none;
}
