.background{
    position: fixed; /* фиксируем на весь экран */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* полупрозрачный тёмный фон */
    backdrop-filter: blur(4px); /* размытие фона */
    z-index: 1000;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cancel_logo{
    font-size: 32px;
    cursor: pointer;
}

.main{
    background-color: var(--menu-color);
    color: white;
    height: auto;
    border-radius: 8px;
    width: 400px;
    overflow: hidden;
    display: grid;
    gap: 8px;
    grid-template-rows: auto 1fr auto;
    cursor: auto;
    max-height: calc(100% - 30px);

    @media(width < 600px) {
        width: calc(100% - 30px);
    }
}

.header{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 8px;
}

.files{
    display: grid;
    gap: 8px;
    overflow: auto;
}

.message_input{
    background-color: #0a4375;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

#button_background{
    display: grid;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    border-radius: 8px;
}

#button_background:hover{
    background-color: #0098ea;
}

#button{
    font-size: 38px;
    color: white;
}
