.background{
    display: grid;
    grid-template-rows: auto auto;
    gap: 8px;
    color: white;
    font-size: 18px;
    /*justify-items: center;*/
    /*justify-content: center;*/

    .buttons{
        display: grid;
        grid-template-columns: auto auto;
        gap: 8px;

        .button{
            padding: 8px;
            border-radius: 8px;
            color: white;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background-color: var(--menu-color);
            grid-template-columns: auto auto;
            -webkit-user-select: none;
            user-select: none;
        }

        .button:active{
            background-color: #08365e;
        }

        .no_button{
            background-color: #0098EA;
        }
    }
}