html {
    --menu-height: calc(50px + env(safe-area-inset-bottom, 32px));
    --menu-bottom: 8px;

    @media(width < 600px) {
        --menu-bottom: 8px;
    }
}

#background{
    --local-width-menu: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 0.5rem;
    backdrop-filter: blur(8px);
    border-radius: var(--local-width-menu);
    background-color: rgb(255, 255, 255, 8%);
    margin-bottom: 1rem;
    padding: 5px;
    bottom: calc(var(--menu-bottom) + env(safe-area-inset-bottom, 32px));
}

.menu_item{
    transition: all .3s ease;
    border-radius: var(--local-width-menu);
    display: grid;
    cursor: pointer;
    color: white;
    padding: 6px 18px;
    position: relative;
}

.menu_item:hover {
    @media(width >= 600px) {
        background-color: #0c518d;
        #message_count{
            #count{
                border: 2px solid #0c518d;
            }
        }
    }
}

.menu_item:active{
    @media(width < 600px){
        background-color: #0c518d;
        #message_count{
            #count{
                border: 2px solid #0c518d;
            }
        }
    }
}

.menu_item_active{
    color: #3ebcff;
}

.menu_item_inner{
    display: grid;
    justify-content: center;
    align-items: center;
}

.menu_item_inner_text{
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;

    @media(width < 600px) {
        font-size: 12px;
    }
}

#message_count{
    display: grid;
    justify-content: center;
    width: 100%;
    top:0;
    position: absolute;
}

#count{
    padding: 0 5px 0 5px;
    height: 0.5cm;
    border-radius: 0.4cm;
    min-width: calc(0.5cm - 10px);
    background-color: #0098EA;
    display: grid;
    justify-items: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 30px;
    border: 2px solid #0a4375;
    color: white;
    font-size: 10px;
    transition: all .3s ease;
}

.hide{
    opacity: 0;
    visibility: hidden;
}

.show{
    opacity: 1;
    visibility: visible;
}