html {
    --menu-height: calc(50px + env(safe-area-inset-bottom, 32px));
    --menu-bottom: 8px;

    @media(width < 600px) {
        --menu-bottom: 8px;
    }
}

#background{
    --local-width-menu: 200px;
    position: absolute;
    bottom: calc(var(--menu-bottom) + env(safe-area-inset-bottom, 32px));
    width: var(--local-width-menu);
    left: calc((var(--menu-width) - var(--local-width-menu)) / 2 - 2px);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: var(--local-width-menu);
    overflow: hidden;
    background-color: rgb(255, 255, 255, 8%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.12);
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

.menu_item{
    transition: all .3s ease;
    border-radius: var(--local-width-menu);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto;
    cursor: pointer;
    color: white;
    padding-top: 6px;
}

.menu_item:hover {
    @media(width >= 600px) {
        background-color: #0c518d;
        #message_count{
            #count{
                border: 2px solid #0c518d;
            }
        }
    }
}

.menu_item:active{
    @media(width < 600px){
        background-color: #0c518d;
        #message_count{
            #count{
                border: 2px solid #0c518d;
            }
        }
    }
}

.menu_item_active{
    color: #0098ea;
}

.menu_item_inner{
    display: grid;
    justify-content: center;
    align-items: center;
}

.menu_item_inner_text{
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;

    @media(width < 600px) {
        font-size: 12px;
    }
}

#message_count{
    display: grid;
    justify-content: center;
    width: calc(var(--menu-width) / 3);
    top:0;
    position: absolute;
}

#count{
    padding: 0 5px 0 5px;
    height: 0.5cm;
    border-radius: 0.4cm;
    min-width: calc(0.5cm - 10px);
    background-color: #0098EA;
    display: grid;
    justify-items: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 30px;
    border: 2px solid #0a4375;
    color: white;
    font-size: 10px;
    transition: all .3s ease;
}

.hide{
    opacity: 0;
    visibility: hidden;
}

.show{
    opacity: 1;
    visibility: visible;
}