html {
    --menu-height: 50px;
}

#menu{
    display: grid;
    background-color: #0a4375;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--menu-height);

    @media(width < 600px) {
        padding-bottom: env(safe-area-inset-bottom, 32px);
    }
}

.menu_item{
    transition: all .3s ease;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto;
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.menu_item:hover {
    background-color: #0c518d;
}

.menu_item_active{
    color: #0098ea;
}

.menu_item_inner{
    display: grid;
    justify-content: center;
    align-items: center;
}