.background{
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    white-space: nowrap;
    gap: 16px;

    .title{
        font-weight: bold;
        font-size: 18px;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .main{
        display: grid;
        grid-template-rows: 1fr auto;

        .inf{
            display: grid;
            align-items: center;
        }

        .button_background{
            display: grid;
            justify-items: center;
            gap: 8px;

            .button {
                border-radius: 4px;
                padding: 8px;
                background-color: #062846;
                cursor: pointer;

                &:hover {
                    color: #439fef;
                }
            }

            .non_active{
                cursor: not-allowed;
                opacity: 0.5;
            }

        }
    }
}