
#background{}

.background{
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    white-space: nowrap;
    gap: 16px;

    .title{
        font-weight: bold;
        font-size: 18px;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .main{
        display: grid;
        /*grid-template-rows: 1fr auto;*/

        .key_background{
            align-items: center;
            display: grid;

            .key_main{
                background-color: red;
            }
        }

        .name_background{
        }

    }
}