.background{
    background-color: #0a4375;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

    .camera_icon{
        color: black;
        font-size: 32px;
    }

}