#background {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: 60px 1fr;
}

#main{
    overflow: hidden;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 1fr;
    box-shadow: 0 -5px 5px 5px black;
    z-index: 1;
}

#header{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 40px;
    align-items: center;
    padding: 10px;
    background-color: var(--menu-color);
    color: #FFFFFF;

    @media(width > 926px){
        grid-template-columns: 1fr
    }
}

#back_icon{
    font-size: 40px;
    cursor: pointer;

    @media(width > 926px){
        display: none;
    }
}

#chat_inf{
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    gap: 10px;
}

#messages_main_block{
    padding: 0 8px 0 8px;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    overflow: hidden;
}

#messages_block{
    overflow: hidden;
    display: grid;
    width: 100%;
}

#messages{
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    gap:10px;

    padding-left: calc(50% - 292px);
    padding-right: calc(50% - 292px);
}