.item{
    width: 100%;
    position: absolute;
    height: calc(100% - env(safe-area-inset-bottom, 32px));
    visibility: hidden;
    background-color: var(--menu-color);
    @media(width < 600px) {
        -webkit-user-select: none;
        user-select: none;
    }

}

.item_inside{
    height: 100%;
    padding-bottom: env(safe-area-inset-bottom, 32px);
}

.show_slowly{
    animation: show_slowly .1s linear forwards;
}

.hide_slowly{
    animation: hide_slowly .1s linear forwards;
}

@keyframes show_slowly{
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hide_slowly{
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}