.chat_item{
    padding-top: 5px;
    height: 55px;
    display: grid;
    grid-template-columns: 50px 1fr;
    cursor: pointer;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
}

.selected_chat{
    background-color: #0c518d;
    border-radius: 10px;

    @media(width > 600px){
        transition: background .3s ease;
    }
}

.chat_item:hover:not(.selected_chat){
    @media(width > 600px){
        border-radius: 10px;
        background-color: #08365e;
    }
}

.main_inf{
    overflow: hidden;
    padding-left: 5px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: 50px;
    color:white;
    grid-template-columns: 1fr auto;
    gap: 8px;
}

.title_block{
    overflow: hidden;
    align-content: center;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}

.count_message_block{
    display: grid;
    align-items: center;
}

.count_message{
    padding: 0 5px 0 5px;
    height: 0.8cm;
    border-radius: 0.4cm;
    min-width: calc(0.8cm - 10px);
    background-color: #0098EA;
    display: grid;
    justify-items: center;
    align-items: center;
    user-select: none;
}

.look{
    align-content: center;
}

.look_svg{
    font-size: 18px;
}

.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 18px;
}

.title::first-letter {
    text-transform: uppercase;
}

.avatar_background{
    width: 50px;
    height: 50px;
}