.main_background{
    display: grid;

    .main{
        display: grid;
        grid-template-columns: auto 1fr;

        .background{
            width: 40px;
            height: 40px;
            padding: 4px 4px 0 0;

            .background_play, .background_stop{
                background-color: #0098ea;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                display: grid;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                
                .play_button {
                    font-size: 15px;
                    font-weight: 700;
                    color: white;
                    margin-left: 3px;
                }

                .pause_button {
                    font-size: 15px;
                    font-weight: 700;
                    color: white;
                    margin-left: 0px;
                }
            }

            .background_stop{
                background: none;
                position: relative;
                top: -40px;
            }
        }

        .duration{
            display: grid;
            grid-template-rows:24px 18px;
            padding: 4px 0 0 6px;

            .audio_background{
                display: grid;
                grid-template-columns:1fr auto;
                gap: 4px;

                .audio_text{
                    border: 1px solid;
                    border-radius: 4px;
                    color: #1d86bd;
                    cursor: pointer;
                    font-weight: bold;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    -webkit-user-select: none;
                    user-select: none;
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;
                    transition: all 0.3s ease;

                    &:hover{
                        color: #3ca6df;
                    }
                }
            }

            .duration_text{
                display: grid;
                align-items: center;
                -webkit-user-select: none;
                user-select: none;
                font-size: small;
            }
        }
    }

    .text_background{
        background-color: #e8f3fd;
        border-radius: 4px;
        opacity: 0.8;
        overflow: hidden;
        display: none;
        max-height: 0;
        margin-top: 8px;
        padding: 10px;
        transition: all 0.3s ease-in-out;

        .text_main{
            color:#010135;;
        }
    }
}