.background{
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;

    .text_background{
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 4px;
        backdrop-filter: blur(2px);
        background-color: rgb(0, 0, 0, 0.2);
        color: white;
        padding: 16px;
        border-radius: 8px;

        .text1{
            font-weight: bold;
        }

        .text2{
            display: grid;
            justify-items: center;
            align-items: center;
        }
    }
}