html{
    --main-margin-left: 0px;
    --scale-value: 1;
    --menu-color: #062846;
}

#main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page_block{
    position: absolute;
    background-color: var(--menu-color);
    height: 100%;
    margin-left: calc(100% + var(--main-margin-left));
    transition: all 0.3s;
    width: 100%;
}

#page{
    height: calc(100% - 60px);
    overflow: hidden;
}

#page_button{
    background-color: #0098EA;
    height: 56px;
    border-bottom: 2px solid white;
}

#chats{
    overflow-y: scroll;
    height: calc(100% - 40px - 16px);
}