.title{
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding-top: 20px;
    font-size: 24px;
}

.back{
    position: absolute;
    cursor: pointer;
    padding: 11px;
    opacity: 0.7;
    background-color: #0c518d;
    margin-top: 26px;
    margin-left: 17px;
    border-radius: 8px;
    display: inline-grid;

    &:hover {
        opacity: 1;
    }
}

.background{
    color: white;
    -webkit-user-select: none;
    user-select: none;
}