.image_view {
    right: 0;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    max-width: 80%; /* Add this to prevent overflow */
}

