.background{
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 16px;
    background-color: #041b2f;
    width: calc(100% - 32px);

    height: calc(100% - 32px);
    color: white;

    .arrow{
        display: grid;
        align-items: center;
        justify-items: center;
        height: 20px;
        width: 20px;
        cursor: pointer;
        &:hover{
            color: #439fef;
        }
    }
}