.background{
    display: grid;
    gap: 0px;
    cursor: pointer;
    align-items: end;
}

.bar_item{
    width: 3px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    transition: background-color .2s linear;
}