.background {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    white-space: nowrap;

    .title {
        font-weight: bold;
        font-size: 18px;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .input {
        border-radius: 8px;
        min-height: 2rem;
        padding: 0 5px;
        border: 1px solid #fff;
        outline: none;
    }

    .main {
        display: grid;
        grid-template-rows: 1fr auto;

        .center{
            display: grid;
            justify-items: center;
            align-items: center;

            .words_background{
                display: grid;
                gap: 8px;
                grid-template-columns: auto auto auto;

                .word_item{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 4px;
                    padding: 8px;
                    border-radius: 4px;
                    background-color: #0a4375;
                }

            }
        }

        .button_background {
            display: grid;
            justify-items: center;
            gap: 8px;

            .button {
                border-radius: 4px;
                padding: 8px;
                background-color: #062846;
                cursor: pointer;

                &:hover {
                    color: #439fef;
                }
            }
        }
    }
}

#loading_logo{
    animation: rotate .4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}