#background{
    background-color: var(--menu-color);
    position: absolute;
    bottom:72px;
    user-select: none;
    visibility: hidden;
    padding: 16px;
    line-height: 50px;
    font-size: 28px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.5px black;
    display: grid;
    gap: 16px;

    height: 400px;
    width: 400px;

}

.emoji_rows{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.emoji_row{
    display: grid;
    gap: 8px;
}

.emoji_name{
    font-size: 0.5cm;
    color: #b9dbf9;
}

.emoji_list{
    display: grid; /* Используем CSS Grid */
    grid-template-columns: repeat(auto-fill, minmax(32px, 1fr)); /* Автоматически заполняем ряды, элементы минимум 100px шириной */
    gap: 8px; /* Расстояние между элементами */
}

.emoji_list_item{
    height: 32px;
    width: 32px;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 0.7cm;
    cursor: pointer;
}

.emoji_list_item:hover{
    background-color: #0a4375;
}

.show_slowly{
    animation: show_slowly .2s linear forwards;
}

.hide_slowly{
    animation: hide_slowly .2s linear forwards;
}

@keyframes show_slowly{
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes hide_slowly{
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}