.background{
    border-radius: 8px;
    color:white;
    background-color: var(--menu-color);
    position: absolute;
    bottom: calc(72px + var(--safe-area-inset-bottom));
    right: calc(50% - 280px);
    z-index: 10;
    visibility: hidden;
    overflow: hidden;
    display: grid;

    @media (width < 592px){
        right: 8px;
    }
}

.menu_item{
    border-radius: 8px;
    display: grid;
    grid-template-columns: 30px 200px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    padding: 8px;

    @media (width < 600px){
        padding: 12px;
    }
}

.menu_item:hover{
    background-color: #0c518d;
}

.menu_item_icon{
    font-size: 20px;
}

.show_slowly{
    animation: show_slowly .2s linear forwards;
}

.hide_slowly{
    animation: hide_slowly .2s linear forwards;
}

@keyframes show_slowly{
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes hide_slowly{
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}