.background{
    display: flex;
    justify-content: center;
    align-items: self-start;
}

.image_view{
    width: 80%;
    object-fit: cover;
    border-radius: 8px;
}

.file_logo_background{
    border-radius: 8px;
    background-color: silver;
    display: grid;
    justify-items: center;
    align-items: center;
}

.file_logo{
    font-size: 40px;
    color: var(--menu-color);
    border-radius: 8px;
}

.logo_delete{
    font-size: 24px;
}

.delete_button{
    width: 40px;
    height: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 1.5rem;

    &:hover {
        background-color: rgba(222, 71, 98, 0.97);
    }
}

/* .styles_background:hover{
    @media(width > 600px) {
        background-color: rgba(119,0,21,0.97);
    }
} */