.background{
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 100px;
    cursor: pointer;
    overflow: hidden;
    scale: 0.9;

    img{
        width: 100%;
    }
}