.background{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    color: white;

    .settings_background{
        padding: 16px;
        overflow-y: auto;
        overflow-x: hidden;

        .tab{
            border-radius: 8px;
            background-color: #0C3870;
            margin-bottom: 16px;
            padding: 8px;
            display: grid;
            gap: 8px;

            .item{
                .header{
                    padding-bottom: 4px;
                }
                .value{
                    opacity: 0.7;
                    padding-left: 6px;
                }
            }
        }
    }
    .button_background{
        padding: 4px;

        .button{
            cursor: pointer;
            padding: 8px;
            border-radius: 8px;
            background-color: white;
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-items: center;

            .button_text{
                display: grid;
                justify-content: center;
                align-items: center;
                color: black;
                grid-template-columns: auto auto;
                gap: 8px;

                .button_text_span{
                    opacity: 0.4;
                    font-weight: 600;
                }
            }
        }
    }
}
