html{
    --menu-color: #062846;
}

#chats{
    overflow-y: scroll;
    height: calc(100% - 40px - 16px);
}

#chats::-webkit-scrollbar {
    width: 8px;
    background: none;
}
#chats::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

.nav_padding{
    padding-bottom: 10px;
}

.nav_chats{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    font-size: 150px;
    align-items: center;
    color: white;
    padding: 10px;
    user-select: none;
    background-color: #0c518d;
    border-bottom: 2px solid var(--menu-color);
    border-top: 2px solid var(--menu-color);
}

#search_logo{
    animation: rotate_search .2s linear forwards;
}

#loading_logo{
    animation: rotate .4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate_search {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}