@import url('https://fonts.googleapis.com/css?family=Cairo');

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

/**, *::before, *::after {*/
/*    box-sizing: border-box;*/
/*}*/

html,body, #root{
    height: 100%;
    width: 100%;
    background-color: var(--menu-color);
    position: fixed;
    background-position: top right;
    background-size: 510px auto;
    background-repeat: repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    overscroll-behavior: none;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}