.background{

}

.slider_background{
    background-color: red;
    display: grid;
    justify-content: center;
    grid-template-columns: calc(100% - 10px);
}

.slider{
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

}

.options_background{
    display: flex;
    justify-content: space-between;
}

.options_item {
    display: grid;
    justify-content: center;
    width: 40px;
}


