.background{
    padding: 4px;
    background-color: rgb(0, 152, 234, 0.2);
    border-radius: 4px;
    border-left: 4px solid rgb(0, 152, 234);
    border-right: 4px solid rgb(0, 152, 234);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    cursor: pointer;
    transition: background .3s ease;
    max-width: 35rem;
}

.background:hover{
    background-color: rgba(0, 152, 234, 0.485);
}