.background{
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    vertical-align : bottom;
    -webkit-user-select: none; /* Для Safari */
    -webkit-touch-callout: none;
    touch-action: manipulation;
}
.system_background{
    display: grid;
    justify-content: center;
}

.text{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.text .tags{
    text-decoration: none;
    color: #439fef;
    cursor: pointer;
}

.text .tags{
    font-weight: bold;
}

.system_message{
    background: rgb(6, 40, 70, 0.5);
    user-select: none;
    word-break: break-word;
    text-align: center;
    color: white;
    padding: 3px;
    width: fit-content;
}

.left_div2 {
    float: right;
    opacity: 0.5;
    padding-left: 5px;
    font-size: 13px;
}
