.background{
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    vertical-align : bottom;

    @media(width < 600px){
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        touch-action: manipulation;
    }
}

.system_background{
    display: grid;
    justify-content: center;
}

.text{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.text .tags{
    text-decoration: none;
    color: #439fef;
    cursor: pointer;
}

.text .tags{
    font-weight: bold;
}

.system_message{
    background: rgb(6, 40, 70, 0.5);
    user-select: none;
    word-break: break-word;
    text-align: center;
    color: white;
    padding: 3px;
    width: fit-content;
}

.left_div2{
    float: right;
    padding-left: 5px;
    font-size: 13px;
    display: inline-block;

    .pin{
        display: inline-block;
        font-size: 14px;
        color: #0098ea;
        padding-right: 4px;
    }

    .time{
        display: inline-block;
        opacity: 0.5;
        -webkit-user-select: none;
        user-select: none;
    }
}

.file_list{
    display: grid;
}