name: CI/CD Pipeline

permissions:
  contents: write

on:
  push:
    branches:
      - quick*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read version from package.json
        id: get_version
        run: |
          VERSION=$(jq -r .version package.json)
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Call build workflow
        uses: Passimx/ci-cd-workflows/.github/workflows/build.yml@main
        with:
          ORGANIZATION_NAME: ${{ vars.ORGANIZATION_NAME }}
          IMAGE_NAME: ${{ vars.IMAGE_NAME }}
          VITE_API_URL: ${{ vars.VITE_API_URL }}
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        secrets:
          DOCKER_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
          GIT_HUB_TOKEN: ${{ secrets.GIT_HUB_TOKEN }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        permissions:
          contents: write
          packages: write