.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    z-index: 1000;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;

    .page{
        cursor: auto;
        padding: 4px;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        /*grid-template-columns: calc(100vw - 32px);*/
        /*grid-template-rows: 1fr;*/
        /*width: calc(100vw - 32px);*/

        @media(width >= 600px){
            width: 400px;
        }

        @media (width < 400px) {
            scale: 0.8;
        }
    }

    .cancel_background{
        display: flex;
        justify-content: end;
        opacity: 0.5;
        transition: opacity 0.3s ease;
        width: 32rem;

        &:hover {
            opacity: 0.9;
        }

        @media (width < 600px) {
            display: none;
        }

        .cancel_button{
            color: white;
            font-weight: bold;
            font-size: 30px;
            position: absolute;
        }
    }
}