.background{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    gap: 16px;
    grid-template-rows: repeat(2, auto) 1fr auto;

    .auth_text_1{
        font-weight: bold;
        font-size: 24px;
    }

    .auth_text_2{
        text-align: center;
        align-content: center;
        font-size: 16px;
        opacity: 0.7;
        line-height: 1.5;
        white-space: wrap;
    }

    .create_account_buttons_background{
        display: grid;
        gap: 8px;
        grid-template-rows: 1fr repeat(2, auto);


        .create_account_button{
            &:hover{
                color: #439fef;
            }

            background-color: #062846;
            padding: 4px;
            border-radius: 8px;
            cursor: pointer;
            display: grid;
            justify-items: center;
            -webkit-user-select: none;
            user-select: none;
        }
    }
}